// color of project

//brand colors

$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
// neutral-colors






$white-normal: hsl(36, 100%, 99%);



//auxiliary colors
$blue-light:  hsl(233, 8%, 79%);
$blue-normal:  hsl(236, 13%, 42%);
$blue-dark:  hsl(240, 100%, 5%);

