main {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
h1 {
    color: $blue-dark;
    font-weight: 800;
    line-height: 110%;
    width: 250px;
   
    
}
.blog-read {
    max-width: 400px;
}
p {
    margin-top: .5rem;
    color: $blue-normal;
    font-weight: 400;
    line-height: 150%;
}
button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 180px;
    height: 40px;
    background: $red;
    border: none;
    outline: none;

    color: $white-normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;

    transition: .5s ease;



    &:hover {
        background: $blue-dark;
        transition: .5s ease;
    }
}
.new {
    width: 341.5px;
    height: 445px;
    overflow: hidden;
    background: $blue-dark;
    margin-bottom: 3rem;


}
.new-container {
    width: 85%;
    height: 100%;
    margin: 1.5rem auto 0 auto;


}
h2 {
    font-size: 1.5rem;
    color: $orange;
    margin-bottom: 1.5rem;
}


.new-blogs {


    h3 {
        color: $white-normal;
        margin-bottom: .5rem;
        font-weight: 700;


        &:hover {
            color: $orange;
        }
        
    }

    p {
        color: $blue-normal;
    }
}
.new-blog {
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba($color: #c0c1d5, $alpha: 0.4);
}



.top-blog {
 
    margin-bottom: 30px;

    display: flex;


    img {
    width: 90px;
    margin-right: 1rem;
       
    }
    .num {
        color: $blue-light;
        margin-bottom: 5px;
    }
    h3 {
    font-weight: 700;

    }
    p {
        color: $blue-normal;
        font-weight: 400;
    }
}
@media screen and (min-width: 700px) {
   picture {
    img {
        width: 80%;
    }
   }
}
@media screen and (min-width: 900px) {

    

    .main-container {
     display: grid; 
     grid-auto-columns: 1fr; 
     grid-auto-rows: 1fr; 
     grid-template-columns: 1fr 1fr 1fr; 
     grid-template-rows: auto auto auto; 
     gap: 0px 30px; 
     grid-template-areas: 
       "main-blog main-blog new"
       "main-blog main-blog new"
       "top-blogs top-blogs top-blogs"; 
}
.main-blog { grid-area: main-blog; }


.blog-info {
    display: flex;
    justify-content: space-between;
}


.new { grid-area: new; }
.top-blogs { 
    grid-area: top-blogs; 
    display: flex;
}
    
   
   h1 {
    font-size: 2.5rem;
    width: 30%;
   }

    picture {
     img {
         width: 99%;
     }
    }
}

@media screen and (min-width: 1400px) {
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
 }